body, 
ul,
li,
p {
margin: 0px ;
  padding: 0 ;
   list-style: none;
    font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
    
}
a {
  color:aliceblue;
  text-decoration-line: none;
 
}
h1 {
text-align: center;
margin-top: 100px;


}
.header {
background: rgb(17, 17, 17);
  display: flex;
   flex-wrap: wrap;
     justify-content: space-between;
         align-items: center;
           padding: 20px;  
}
img {
  max-height: 100%;
  display: block;
}
.menu {
display: flex;
}
.menu li {
margin-left: 10px;
}
.menu li a {
  display: block;
  padding:10px;
  background:rgb(45, 143, 182);
  }

  /*css flex box edit*/
.flex{
display: inline-flex;

}
